{% if showTopic is not defined %}
  {% set showTopic = true %}
{% endif %}

<article class="card-wrapper card-space">
  <div class="card card-bg rounded shadow">
    <div class="card-body">
      {% if servizio.topics and showTopic %}
        <div class="category-top">
          <a href="{{ path('category_show', {'slug': servizio.topics.slug}) }}" class="category">
            <span class="category">{{ servizio.topics.name }}</span>
          </a>
        </div>
      {% endif %}
      <h5 class="card-title">
        <svg class="icon">
          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-file"></use>
        </svg>
        {{ servizio.name }}
      </h5>
      <p class="card-text">{{ servizio.description|abstract }}</p>
      <a class="read-more stretched-link" href="{{ path('servizi_show', {'slug': servizio.slug}) }}">
        <span class="text">{{ 'read_more'|trans }}</span>
        <svg class="icon">
          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</article>
