{% extends '@App/Default/index.html.twig' %}
{% block title %}{{ servizio.name }} - Stanza del cittadino{% endblock %}

{% block main_content %}

  <section class="container">
    <div class="row">
      <div class="col-12 px-lg-4 py-lg-2">
        <h1>{{ servizio.name }}</h1>
      </div>
      <div class="col-lg-8 px-lg-4 py-lg-2">

        {% if servizio.description|striptags|trim != '' %}
          <article class="mb-3">
            <h4>{{ 'gruppo_di_servizi.cos_e' | trans }}</h4>
            {{ servizio.description|cleanMarkup|raw|nl2br }}
          </article>
        {% endif %}

        {% if servizio.who|striptags|trim != '' %}
          <article class="mb-3">
            <h4>{{ 'gruppo_di_servizi.a_chi_si_rivolge' | trans }}</h4>
            {{ servizio.who|cleanMarkup|raw|nl2br }}
          </article>
        {% endif %}

        {% if servizio.coverage %}
          {% if servizio.coverage|length > 0 %}
            <article class="mb-3">
              <h5>{{ 'gruppo_di_servizi.copertura' | trans }}</h5>
              {% for c in servizio.coverage %}
                <div class="text-sans-serif chip chip-lg mr-2 chip-simple chip-secondary">
                  <span class="chip-label">{{ c }}</span>
                </div>
              {% endfor %}
            </article>
          {% endif %}
        {% endif %}

        {% if servizio.howto|striptags|trim != '' %}
          <article class="mb-3">
            <h4>{{ 'gruppo_di_servizi.accedere' | trans }}</h4>
            {{ servizio.howto|replace({'%comune%': instance_service.getCurrentInstance().name})|cleanMarkup|raw|nl2br }}
          </article>
        {% endif %}

        {% if servizio.specialCases|striptags|trim != '' %}
          <article class="mb-3">
            <h4>{{ 'gruppo_di_servizi.casi_particolari' | trans }}</h4>
            {{ servizio.specialCases|replace({'%comune%': instance_service.getCurrentInstance().name})|cleanMarkup|raw|nl2br }}
          </article>
        {% endif %}

        {% if servizio.moreInfo|striptags|trim != '' %}
          <article class="mb-3">
            <h4>{{ 'gruppo_di_servizi.maggiori_info' | trans }}</h4>
            {{ servizio.moreInfo|replace({'%comune%': instance_service.getCurrentInstance().name})|cleanMarkup|raw|nl2br }}
          </article>
        {% endif %}
      </div>
    </div>
  </section>

  <section class="container py-5">
    <div class="row d-flex flex-wrap">
      {% for sharedService in servizio.getSharedServices %}
        {% set serviceUrl = path('pratiche_anonime_new', {'servizio': sharedService.slug}) %}
        {% if sharedService.accessLevel > 0 or sharedService.accessLevel is null %}
          {% set serviceUrl = path('pratiche_new', {'servizio': sharedService.slug}) %}
        {% endif %}
        <div class="col-12 col-md-6 px-lg-4 mb-2">
          <a href="{{ serviceUrl }}"
             class="btn btn-success btn-lg d-flex flex-column justify-content-center h-100 service-access-button">
            {{ sharedService.name }}
          </a>
        </div>
      {% endfor %}
    </div>
  </section>



  {% if servizio.getStickyServices.count > 0 %}
    <section class="container-fluid py-5 bg-light">
      <div class="container">
        <div class="row">
          {% for servizio in servizio.getStickyServices %}
            <div class="col-12">
              {{ include('@App/Servizi/parts/panel/servizio_sticky.html.twig') }}
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}


  {% if servizio.getNotStickyServices.count > 0 %}
    <section class="container py-5">
      <div class="row">
        {% for item in servizio.getNotStickyServices %}
          <div class="col-12 col-sm-6 col-lg-4">
            {{ include('@App/Servizi/parts/panel/servizio.html.twig', {'servizio':item}) }}
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}

{% endblock %}
