 {% extends '@App/Default/index.html.twig' %}
{% block title %}{{ 'nav.servizi'|trans() }} - Stanza del cittadino{% endblock %}
{% block main_content %}
  <section class="container">
    <div class="row">
      <div class="col-lg-8 px-lg-4 py-lg-2">
        <h1>{{ 'nav.servizi'|trans }}</h1>
        <div class="clearfix">
          <p>{{ 'servizio.sottotitolo'|trans }}</p>
        </div>
        {{ include('@App/Servizi/parts/_searchForm.html.twig') }}
      </div>
    </div>
  </section>

  {% if sticky_services %}
    <section class="container-fluid py-5 bg-light">
      <div class="container">
        <div class="row">
          {% for item in sticky_services %}
            <div class="col-12 col-md-6">
              {% if item.type == 'service' %}
                {{ include('@App/Servizi/parts/panel/servizio_sticky.html.twig', {'servizio':item.object}) }}
              {% else %}
                {{ include('@App/Servizi/parts/panel/service-group_sticky.html.twig', {'servizio':item.object}) }}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}

  {% if servizi %}
    <section class="container py-5">
      <div class="row">
        {% for item in servizi %}
          <div class="col-12 col-sm-6 col-lg-4">
            {% if item.type == 'service' %}
              {{ include('@App/Servizi/parts/panel/servizio.html.twig', {'servizio':item.object}) }}
            {% else %}
              {{ include('@App/Servizi/parts/panel/service-group.html.twig', {'servizio':item.object}) }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}

{% endblock %}
