<div class="row">
  <div class="col-md-12">
    <ul class="list-unstyled">
      {% for commento in pratica.commenti %}
        <li class="mb-4">
          <div class="rounded rounded-lg p-3 shadow bg-blanchedalmond">
            <div class="d-inline-block  align-top">
              <div class="avatar mx-2 bg-white">
                <svg class="icon icon-secondary">
                  <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-user"></use>
                </svg>
              </div>
            </div>
            <div class="d-inline-block">
              <p class="mb-0 font-weight-bold text-secondary">{{ commento.creator }}</p>
              <small class="font-italic text-secondary">{{ commento.createdAt|date(ocsdc_default_datetime_format) }}</small>
              <p class="my-4">{{ commento.text }}</p>
            </div>
          </div>
        </li>
      {% endfor %}
      {% if feature('feature_application_detail') %}
        {% for message in pratica.messages %}
          {{ include('@App/Message/message.html.twig') }}
        {% endfor %}
      {% endif %}
    </ul>
    <div>
      {{ form_start(messageForm) }}
      {{ form_errors(messageForm) }}
      {{ form_row(messageForm.message, {'attr': {'class': 'summernote'}}) }}

      <div {% if pratica.status < 4000 %} class="d-none" {% endif %}>
        <div class="form-group mb-0 pb-0">
          <label>{{ 'operatori.messaggi.allega_label' | trans }}</label>
          {{ form_row(messageForm.attachments) }}
        </div>
        <div id="vueApp2" class="px-2">
          <message_attachments id="upload_message_attachment"></message_attachments>
          <small class="form-text text-muted">{{ 'operatori.messaggi.allega_help' | trans }}</small>
        </div>
      </div>

      <div class="d-flex justify-content-between mt-5">
        {% if not pratica.operatore %}
          <div>{{ form_widget(messageForm.applicant, {'attr': {'disabled': true, 'title': 'operatori.messaggi.prendi_in_carico_per_abilitare'|trans}}) }}</div>
        {% else %}
          <div>{{ form_widget(messageForm.applicant, {'attr': {'onclick': 'return confirm("Sei sicuro di voler procedere? Se decidi di procedere verrà inviata un email al cittadino all\'indirizzo email %email%")' | trans({ "%email%": pratica.user.emailContatto }) }}) }}</div>
        {% endif %}
        <div>{{ form_widget(messageForm.internal, {'attr': {'class': 'btn-secondary'}}) }}</div>
      </div>
      {{ form_end(messageForm) }}
    </div>
  </div>
</div>
