{% set locales = app_locales|split('|') %}
<div class="header-slim-right-zone">
  {% if locales|length > 1 %}
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
        <span>{{ app.request.locale|capitalize }}</span>
        <svg class="icon d-none d-lg-block">
          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
        </svg>
      </a>
      <div class="dropdown-menu">
        <div class="row">
          <div class="col-12">
            <div class="link-list-wrapper">
              <ul class="link-list">
                {% for locale in locales %}
                  {% if locale is not empty %}
                    <li><a class="list-item" href="{{ app.request.pathInfo|replace({(prefix) ~ '/' ~ (app.request.locale): prefix ~ '/' ~ locale}) }}"><span>{{ locale|upper }}</span></a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if user.roles is defined %}
    <div class="it-access-top-wrapper">
      {% if 'ROLE_CPS_USER' in user.roles %}
        <div class="dropdown">
          <a class="btn btn-dropdown dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg class="icon icon-lg">
              <use xlink:href="{{ asset('bootstrap-italia/dist/svg/sprite.svg#it-expand') }}"></use>
            </svg>
            <span>{{ user.fullName }}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <div class="link-list-wrapper">
              <ul class="link-list">
                <li>
                  <a class="list-item left-icon" href="{{ path('user_profile') }}">
                    <svg class="icon icon-sm icon-primary left">
                      <use xlink:href="{{ asset('bootstrap-italia/dist/svg/sprite.svg#it-user') }}"></use>
                    </svg>
                    <span>Profilo</span>
                  </a>
                </li>
                <li>
                  <a class="list-item left-icon" href="{{ logout_path('open_login') }}">
                    <svg class="icon icon-sm icon-primary left">
                      <use xlink:href="{{ asset('bootstrap-italia/dist/svg/sprite.svg#it-link') }}"></use>
                    </svg>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      {% elseif is_granted('ROLE_ADMIN') or is_granted('ROLE_OPERATORE') %}
        <div class="dropdown">
          <a class="btn btn-dropdown dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg class="icon icon-lg">
              <use xlink:href="{{ asset('bootstrap-italia/dist/svg/sprite.svg#it-expand') }}"></use>
            </svg>
            <span class="d-none d-lg-block">{{ user.fullName }}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <div class="link-list-wrapper">
              <ul class="link-list">
                <li>
                  <a class="list-item left-icon" href="{{ path('fos_user_profile_show') }}">
                    <svg class="icon icon-sm icon-primary left">
                      <use xlink:href="{{ asset('bootstrap-italia/dist/svg/sprite.svg#it-user') }}"></use>
                    </svg>
                    <span>Profilo</span>
                  </a>
                </li>
                <li>
                  <a class="list-item left-icon" href="{{ logout_path('operatori') }}">
                    <svg class="icon icon-sm icon-primary left">
                      <use xlink:href="{{ asset('bootstrap-italia/dist/svg/sprite.svg#it-link') }}"></use>
                    </svg>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  {% else %}
    <div class="header-slim-right-zone">
      <div class="it-access-top-wrapper">
        <a data-login-top-button="" class="btn btn-icon btn-full" href="{{ path('user_dashboard') }}"
           title="Esegui il login al sito" style="">
                                 <span class="rounded-icon">
                                     <svg class="icon icon-primary"><use
                                         xlink:href="{{ asset('bootstrap-italia/dist/svg/sprite.svg#it-user') }}"></use></svg>
                                </span>
          <span class="d-none d-lg-block">Accedi all'area personale</span>
        </a>
      </div>
    </div>
  {% endif %}
</div>

