<p class="text-center m-2">
  {% if pratica.servizio.isProtocolRequired %}
    {% set button_text = 'operatori.scarica_richiesta_protocollata'|trans %}
  {% else %}
    {% set button_text = 'operatori.scarica_ricevuta'|trans %}
  {% endif %}
  {% if user is defined and not user is null %}
    {% set attachment = pratica.moduliCompilati|first %}
    {% if is_granted('ROLE_OPERATORE') %}
      <a href="{{ path('allegati_download_operatore', {'allegato': attachment}) }}" class="btn btn-primary" download>
        <i class="fa fa-download"></i>
        {{ button_text }}
      </a>
    {% else %}
      <a href="{{ path('allegati_download_cpsuser', {'allegato': attachment.id}) }}" class="btn btn-primary" download>
        <i class="fa fa-download"></i>
        {{ button_text }}
      </a>
    {% endif %}
  {% else %}
    <a href="{{ path('pratiche_anonime_show_pdf', {'pratica': pratica.id, 'hash': pratica.hash}) }}" class="btn btn-primary">
      <i class="fa fa-download"></i>
      {{ button_text }}
    </a>
  {% endif %}
</p>
