{# <div class="row py-2 border-bottom">
  <div class="col-7 text-truncate">
    <svg class="icon icon-sm">
      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-file"></use>
    </svg>
    {{ attachment.originalFilename }}
  </div>
  <div class="col-2 text-monospace">
    {{ attachment.getHumanReadableFileSize }}
  </div>
  <div class="col-2">
    {% if application.servizio.isProtocolRequired and attachment.isProtocolRequired %}
      {% if attachment.numeroProtocollo or attachment.idDocumentoProtocollo %}
        <span data-toggle="tooltip" data-placement="right" title="{{ 'allegato.protocollo.protocollato'|trans }}">
          <svg class="icon icon-sm icon-success">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-key"></use>
          </svg>
        </span>
      {% else %}
        <span data-toggle="tooltip" data-placement="right" title="{{ 'allegato.protocollo.in_attesa'|trans }}">
          <svg class="icon icon-sm icon-warning">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-key"></use>
          </svg>
        </span>
      {% endif %}
    {% else %}
      <span data-toggle="tooltip" data-placement="right" title="{{ 'allegato.protocollo.non_richiesto'|trans }}">
        <svg class="icon icon-sm icon-secondary">
          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-key"></use>
        </svg>
      </span>
    {% endif %}
  </div>
  <div class="col-1">
    {% if is_granted('ROLE_OPERATORE') %}
      <a href="{{ path('allegati_download_operatore', {'allegato': attachment}) }}" download>
        <span data-toggle="tooltip" data-placement="right" title="Download">
          <svg class="icon icon-sm icon-primary">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
          </svg>
        </span>
      </a>
    {% else %}
      <a href="{{ path('allegati_download_cpsuser', {'allegato': attachment.id}) }}" download>
        <span data-toggle="tooltip" data-placement="right" title="{{ 'allegato.scarica_allegato'|trans }}">
          <svg class="icon icon-sm icon-primary">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
          </svg>
        </span>
      </a>
    {% endif %}
  </div>
</div>
#}

<li>
  <a href="{% if is_granted('ROLE_OPERATORE') %}{{ path('allegati_download_operatore', {'allegato': attachment}) }}{% else %}{{ path('allegati_download_cpsuser', {'allegato': attachment.id}) }}{% endif %}" download="">
    <div class="it-right-zone">
      <span class="text"><em>{{ attachment.originalFilename }}</em></span>
      <svg class="icon">
        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
      </svg>
    </div>
  </a>
</li>
