{% if row.status == '1' %}
  <span class="badge badge-warning">In attesa</span>
{% elseif row.status == '3' %}
  <span class="badge badge-success">Completata</span>
{% else %}
  <span class="badge badge-danger">Non valido</span>
{% endif %}

