{% extends '@App/Default/index.html.twig' %}

{% block main_content %}
  <section id="intro" class="container px-4 my-4">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <h2>{{ operatoreUser.fullName }}</h2>
      </div>

      <div class="col-lg-12 px-lg-4 py-lg-2 mt-4">
        <table class="table table-bordered table-striped table-condensed cf">
          <tbody>
          <tr>
            <th>Nome</th>
            <td>{{ operatoreUser.fullName }}</td>
          </tr>
          <tr>
            <th>Username</th>
            <td>{{ operatoreUser.username }}</td>
          </tr>
          <tr>
            <th>Ultima modifica password</th>
            <td>{% if operatoreUser.lastChangePassword %}{{ operatoreUser.lastChangePassword|date('Y-m-d H:i:s') }}{% else %} --- {% endif %}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{ operatoreUser.email }}</td>
          </tr>
          <tr>
            <th>Abilitato ai servizi</th>
            <td>
              <ul class="list-unstyled">
                {% for servizio in servizi_abilitati %}
                  <li>{{ servizio.name }}</li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-lg-12 px-lg-4 py-lg-2 mt-4">
        <a class="btn btn-primary" href="{{ path('admin_operatore_edit', { 'id': operatoreUser.id }) }}">Modifica</a>
        <a class="btn btn-danger"
           onclick="return confirm('Sei sicuro di procedere? L\'operatore verrà eliminato definitivamente.');"
           href="{{ path('admin_operatore_delete', { 'id': operatoreUser.id }) }}">Elimina</a>
        <a class="btn btn-default btn-100" href="{{ path('admin_operatore_index') }}">Torna alla lista</a>
      </div>

    </div>
  </section>
{% endblock %}
