.it-header-center-wrapper {
  .it-header-center-content-wrapper .it-brand-wrapper {
    .icon.colorize {
      filter: brightness(100);
      fill: #fff;
    }

    a h2 {
      font-weight: 700;
    }
  }
  &.theme-light {
    .it-header-center-content-wrapper .it-brand-wrapper {
      .icon.colorize {
        filter: none;
        fill: $primary;
      }
    }
  }
}

#dropdown-user svg.icon-primary{
  fill: $primary;
  margin-left: 0;
}
