<div class="row">
  <div class="col-lg-12 px-lg-4">

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if form.vars.helper.descriptionText|length > 0 %}
      <blockquote>
        {{ form.vars.helper.descriptionText|raw }}
      </blockquote>
    {% endif %}
    {{ form_rest(form) }}

    {{ include('AppBundle:Admin/servizio:_saveButtons.html.twig') }}
    {{ form_end(form) }}

  </div>
</div>
