{% extends '@App/Default/index.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/w/bs4/dt-1.10.18/datatables.min.css"/>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
  <script>
    // Datatable
    $('#payments-table').DataTable({
      "order": [[4, "desc"]],
      columnDefs: [
        {orderable: true, targets: 1},
        {orderable: true, targets: 2},
        {orderable: true, targets: 3},
        {orderable: true, targets: 4},
        {orderable: false, targets: 5},
        {orderable: false, targets: 6}
      ],
      language: {
        url: 'https://cdn.datatables.net/plug-ins/1.11.3/i18n/it_it.json'
      },
      stateSave: true,
      dom: "<'row'<'col-6 pt-2'l><'col-6'f>>" +
        "<'row'<'col-12'tr>>" +
        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 mt-2'p>>"
    });

  </script>
{% endblock %}

{% block main_content %}
  <section id="intro" class="container-full px-4 my-4">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <h2>{{ 'backoffice.integration.subscription_service.subscription_service_payments'|trans }}</h2>
      </div>

      <div class="col-lg-12 px-lg-4 py-lg-2">
        <table id="payments-table" class="table table-striped table-condensed table-sm">
          <thead>
          <tr>
            <th>{{ 'backoffice.integration.subscription_service.payment.reason'|trans }}</th>
            <th>{{ 'backoffice.integration.subscription_service.subscription_service'|trans }}</th>
            <th>{{ 'iscrizioni.subscribers.completename'|trans }}</th>
            <th>{{ 'iscrizioni.subscribers.fiscal_code'|trans }}</th>
            <th>{{ 'backoffice.integration.subscription_service.payment.execution_date'|trans }}</th>
            <th>{{ 'backoffice.integration.subscription_service.payment.amount'|trans }}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% for item in items %}
            <tr>
              <td class="w-50">
                <a
                  href="{{ path('operatori_subscriber_show', { 'subscriber': item.subscription.subscriber.id, 'tab': 'subscriptions', 'show_subscription': item.subscription.id}) }}">
                  <span data-toggle="tooltip" title="{{ item.description }}">{{ item.name }}</span>
                </a>
              </td>
              <td>{{ item.subscription.subscriptionService.name }}</td>
              <td>{{ item.subscription.subscriber.name }} {{ item.subscription.subscriber.surname }}</td>
              <td>{{ item.subscription.subscriber.fiscalCode }}</td>
              <td>{{ item.paymentDate | date('Y-m-d') }}</td>
              <td>{{ item.amount }} €</td>
              <td class="text-right">
                <div class="dropdown dropdown-actions">
                  <button class="btn btn-link btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg class="icon-expand icon align-middle icon-primary"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-more-actions"></use></svg>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <div class="link-list-wrapper">
                      <ul class="link-list">
                        {% if item.externalKey and is_granted('ROLE_OPERATORE') %}
                          <li>
                            <a class="list-item left-icon {% if not item.externalKey or not is_granted('ROLE_OPERATORE') %}  {% endif %}" href="{{ path('operatori_show_pratica', { 'pratica': item.externalKey }) }}">
                              <span class="text-primary"><i class="fa fa-file-text-o fa-lg"></i> {{ 'Pratica' | trans }}</span>
                            </a>
                          </li>
                        {% endif %}
                        <li>
                          <a class="list-item left-icon" href="{{ path('operatori_subscriptions', { 'subscriptionService': item.subscription.subscriptionService.id }) }}">
                            <span class="text-primary"><i class="fa fa-users fa-lg"></i> {{ 'iscrizioni.subscriptions' | trans }}</span>
                          </a>
                        </li>
                        <li>
                          <a class="list-item left-icon" href="{{ path('admin_servizio_edit', { 'id': item.id, 'step': 'messages' }) }}">
                            <span class="text-primary"><i class="fa fa-user fa-lg"></i> {{ 'iscrizioni.subscriber' | trans }}</span>
                          </a>
                        </li>
                        <li>
                          <a class="list-item left-icon" href="{{ path('payment_certificate_download_operatore', {"subscriptionId": item.subscription.id, "subscriptionPaymentId": item.id }) }}">
                            <span class="text-primary"><i class="fa fa-download fa-lg"></i> {{ 'iscrizioni.certificato' | trans }}</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}
