<html>
<head>
    {{ include('AppBundle:Pratiche/pdf/parts:style.html.twig', {'pratica':pratica, 'user': user}) }}
</head>
<body>
{{ include('AppBundle:Pratiche/pdf/parts:base.html.twig', {'pratica':pratica, 'user': user}) }}

<div class="dati_richiedente">
    <p>
        {{ 'steps.common.org_richiedente.ruolo_utente'|trans }} {{ pratica.getRuoloUtenteOrgRichiedente }}
    </p>
</div>

<div class="chiede center-title">
    {{ 'pratica.pdf.chiede'|trans() }}
</div>

<p class="richiesta">
    <p>
        {{ 'iscrizione_registro_associazioni.pdf.richiesta'|trans({'%associazione%': pratica.nomeAssociazione})|raw }}
    </p>

    <p><strong>{{ 'steps.common.org_richiedente.title'|trans }}</strong></p>
    <table class="table">
        <tr>
            <th width="1">{{ 'steps.common.org_richiedente.nome_associazione'|trans }}</th>
            <td>{{ pratica.nomeAssociazione }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.natura_giuridica'|trans }}</th>
            <td>{{ pratica.naturaGiuridica }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.sito'|trans }}</th>
            <td>{{ pratica.sito }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.pagina_social'|trans }}</th>
            <td>{{ pratica.paginaSocial }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.e_mail'|trans }}</th>
            <td>{{ pratica.email }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.numero_iscritti'|trans }}</th>
            <td>{{ pratica.numeroIscritti }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.modalita_di_adesione'|trans }}</th>
            <td>{{ pratica.modalitaDiAdesione }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.attivita'|trans }}</th>
            <td>{{ pratica.attivita }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.obiettivi'|trans }}</th>
            <td>{{ pratica.obiettivi }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.sede_legale'|trans }}</th>
            <td>{{ pratica.sedeLegale }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.sede_operativa'|trans }}</th>
            <td>{{ pratica.sedeOperativa }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.indirizzo'|trans }}</th>
            <td>{{ pratica.indirizzo }}</td>
        </tr>
        <tr>
            <th>{{ 'steps.common.org_richiedente.contatti'|trans }}</th>
            <td>{{ pratica.contatti }}</td>
        </tr>
    </table>

</div>
{{ include('AppBundle:Pratiche/pdf/parts:allegati.html.twig', {'pratica':pratica, 'user': user}) }}

{{ include('AppBundle:Pratiche/pdf/parts:data_luogo.html.twig', {'pratica':pratica, 'user': user}) }}
{{ include('AppBundle:Pratiche/pdf/parts:payment_gateway.html.twig', {'pratica':pratica, 'user': user}) }}
{{ include('AppBundle:Pratiche/pdf/parts:dati_autenticazione.html.twig', {'pratica':pratica,  'user': user}) }}
{{ include('AppBundle:Pratiche/pdf/parts:footer.html.twig') }}
</body>
</html>
