<div id="pratica-summary">

    {{ include('AppBundle:Pratiche/summary/parts:allegati_operatore.html.twig', {'pratica':pratica, 'user': user}) }}

    {{ include('AppBundle:Pratiche/summary/parts:base.html.twig', {'pratica':pratica, 'user': user}) }}

    {% if pratica.dematerializedForms %}
        {% set dematerialized_data = pratica.dematerializedForms|json_decode %}
        <div class="row">
            <div class="col-xs-12 col-sm-3"><strong>Dati persona cui si riferisce l'atto</strong></div>
            <div class="col-xs-12 col-sm-9">
                <ul class="list-unstyled">
                    <li>{{ dematerialized_data.nome_soggetto_certificato  }} {{ dematerialized_data.cognome_soggetto_certificato  }}</li>
                    <li>{{ dematerialized_data.cf_soggetto_certificato  }}</li>
                </ul>
            </div>
        </div>
    {% endif %}

    {{ include('AppBundle:Pratiche/summary/parts:uso.html.twig', {'pratica':pratica, 'user': user}) }}

    {{ include('AppBundle:Pratiche/summary/parts:payment_gateway.html.twig', {'pratica':pratica, 'user': user}) }}

</div>
