<div class="modal fade" tabindex="-1" role="dialog" id="searchModal">
  <div class="modal-dialog it-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'backoffice.integration.subscription_service.search_subscribers' | trans }}</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control"
                   id="search-subscriber"
                   placeholder="Ricerca studenti" aria-describedby="search-subscriber-description">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button" id="search-btn"
                      data-url="{{ path('operatori_subscription-service_search') }}">
                {{ 'backoffice.integration.subscription_service.search' | trans }}
              </button>
            </div>
          </div>
          <small id="search-subscriber-description" class="form-text text-muted">
            {{ 'backoffice.integration.subscription_service.search_subscribers_helper' | trans }}
          </small>
        </div>
        {{ include('@App/Subscriptions/parts/spinner.html.twig') }}
        <div id="search-results-error" class="mx-2">
          <p class="text-danger">{{ 'backoffice.integration.subscription_service.search_error' | trans }}</p>
        </div>
        <div id="search-results"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" data-dismiss="modal" type="button">
          {{ 'backoffice.integration.subscription_service.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>
