{% set renderBackButton = flow.getFirstStepNumber() < flow.getLastStepNumber() and flow.getCurrentStepNumber() in (flow.getFirstStepNumber() + 1) .. flow.getLastStepNumber() %}
{% set renderResetButton = flow.getCurrentStepNumber() > 1 %}
<div class="craue_formflow_buttons craue_formflow_button_count_{% if renderBackButton %}3{% else %}2{% endif %}">
    {#
    Default button (the one trigged by pressing the enter/return key) must be defined first.
    Thus, all buttons are defined in reverse order and will be reversed again via CSS.
    See http://stackoverflow.com/questions/1963245/multiple-submit-buttons-specifying-default-button
    #}
    {%- set isLastStep = flow.getCurrentStepNumber() == flow.getLastStepNumber() -%}
    {%- set craue_formflow_button_class_last = craue_formflow_button_class_last | default('craue_formflow_button_last') -%}
    {%- set craue_formflow_button_class_last = isLastStep ? craue_formflow_button_class_finish | default(craue_formflow_button_class_last) : craue_formflow_button_class_next | default('craue_formflow_button_class_next') -%}
    {%- set craue_buttons = [
        {
            label: craue_formflow_button_label_back | default('button.back'),
            render: renderBackButton,
            attr: {
                class: 'btn btn-secondary '~craue_formflow_button_class_back | default(''),
                i_class: 'fa fa-arrow-circle-left',
                name: flow.getFormTransitionKey(),
                value: 'back',
                formnovalidate: 'formnovalidate',
            },
        },
        {
            label: craue_formflow_button_label_last | default(isLastStep ? craue_formflow_button_label_finish | default('button.finish') : craue_formflow_button_label_next | default('button.next')),
            render: true,
            attr: {
                class: 'btn btn-primary '~craue_formflow_button_class_last,
                i_class: 'fa fa-arrow-circle-right',
            },
        },
    ] -%}

    <a href="{{ path('admin_servizio_index') }}" class="btn btn-secondary">Annulla</a>
    {% for button in craue_buttons if button.render %}
        <button type="submit"{% for key, value in button.attr %} {{ key }}="{{ value }}"{% endfor %}>
        {{- button.label | trans({}, 'CraueFormFlowBundle') -}}
        </button>
    {% endfor %}
  {% if  flow.getCurrentStepNumber() == 3 %}
  <a
    data-schema="{{ path('admin_servizio_schema_edit', {'servizio':servizio.id} ) }}"
     id="btn-draft"
     class="btn btn-primary float-right">
    {{ 'buttons.draft' | trans }}
  </a>
  {% endif %}
</div>
